.background-container {
  background-color: #f0f0f0; /* Set a solid color for small screens */
  height: 115vh; /* Full height for the page */
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: flex-start; /* Align content at the top */
}

/* Background Image for larger screens */
@media screen and (min-width: 769px) {
  .background-container {
    background-image: url('../../assets/logoback.jpg'); /* Add your image URL here */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
  }
}
  
  /* Other Styles */
.orgFormContainer {
  max-width: 800px;
  margin-left: auto;  /* Align the container to the right */
  margin-right: 0;    /* Remove any space on the right */
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.8); /* Semi-transparent background for the form */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

  
  .hello{
    font-size: 24px;
    text-align: center;
  }
  
  /* Form Styles */
  .orgOrganizationForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Ensure the form takes up full width */
    max-width: 800px; /* Keep the max-width for responsiveness */
  }
  
  /* Input Fields and Select */
  label {
    font-size: 16px;
    /* margin-bottom: 8px; */
    font-weight: 600;
    display: block;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  select {
    cursor: pointer;
  }
  
  .orgSubmitButton {
    padding: 12px 20px;
    background-color: #956cdc;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button.orgSubmitButton:hover {
    background-color: #8b6ad2;
  }
  
  /* Responsive Layout */
  @media screen and (max-width: 800px) {
    .orgFormContainer {
      padding: 10px;
      margin: 20px;
    }
  
    .orgOrganizationForm {
      flex-direction: column;
      gap: 10px;
    }
  
    label {
      font-size: 14px;
    }
  
    input,
    select {
      font-size: 14px;
      padding: 8px;
    }
  
    button.orgSubmitButton {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .orgFormContainer {
      padding: 5px;
      margin: 10px;
    }
  
    .orgOrganizationForm {
      gap: 8px;
    }
  
    label {
      font-size: 12px;
    }
  
    input,
    select {
      font-size: 12px;
      padding: 6px;
    }
  
    button.orgSubmitButton {
      padding: 8px 12px;
      font-size: 12px;
    }
  }
  