.contact-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  background-color: #F1F0FF;
}

.contact-left-div {
  flex: 1;
  padding: 30px;
  max-width: 1000px;
}

.contact-left-div h2 {
  font-size: 40px;
  color: #000;
}

.contact-left-div p {
  font-size: 16px;
  margin-bottom: 50px;
}

.contact-input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.contact-input-group input {
  width: 48%;
  padding: 13px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.contact-input, .contact-select, .contact-textarea {
  width: 100%;
  padding: 13px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-textarea {
  height: 150px;
}

.contact-button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #357abd;
}

.contact-right-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contact-right-div img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
