.ChangePassword-body-chng {
  background-color: white;
  min-height: 100vh; /* Full viewport height */
  display: flex; /* Centers the form vertically and horizontally */
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adds spacing around the form */
  box-sizing: border-box; /* Includes padding in the height calculation */
}

.ChangePassword-container {
  width: 100%;
  max-width: 500px;
  margin: 60px auto;
  padding: 20px;
  /* background: linear-gradient(15deg,rgb(46, 45, 45),#b79af1); */
  background-color: #050505;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ChangePassword-h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f9f5f5;
}

.ChangePassword-form {
  display: flex;
  flex-direction: column;
}

.ChangePassword-input-group {
  margin-bottom: 15px;
}

.ChangePassword-input-group label {
  font-size: 14px;
  color: #f9f2f2;
}

.ChangePassword-input-group input {
  padding: 10px;
  border: 1px solid #080808;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  color: #050505;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ChangePassword-error-message, .ChangePassword-success-message {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.ChangePassword-success-message {
  color: green;
}

.ChangePassword-upd-password {
  padding: 12px;
  background: linear-gradient(135deg, black, #b79af1);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.ChangePassword-upd-password:hover {
  background: linear-gradient(135deg, #707274, #9b59b6); /* Updated hover gradient */
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .ChangePassword-container {
    flex-direction: column;
  }

  .ChangePassword-image-section {
    height: 200px;
  }
}
