.user-sidebar-container {
  background-color: #000000;
  color: white;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.user-sidebar-container.hidden {
  transform: translateX(-100%);
}

.user-sidebar-container.visible {
  transform: translateX(0);
}

.user-sidebar-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgb(236, 229, 250);
  padding: 10px 20px;
  /* color: white; */
}

.user-sidebar-menu-button {
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 10px 20px;
}

.user-sidebar-menu-button:hover {
  background: white;
}

.user-sidebar-search {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.user-sidebar-search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.user-sidebar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-sidebar-notification {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.user-sidebar-profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}


.user-sidebar-topbar-title {
  font-size: 18px;
  font-weight: bold;
}

.user-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-sidebar-close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-sidebar-close-button:hover {
  background: white;
  color: #000000;
}

.user-sidebar-logo-text {
  /* font-family: 'The Nautigal', cursive; */
  font-size: 25px;
  text-align: center;
  /* margin-bottom: 20px; */
}

.user-sidebar-neat-column {
  display: flex;
  flex-direction: column;
}

.user-sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.user-sidebar-item:hover {
  background-color: #5c548d;
}

.user-sidebar-item svg {
  margin-right: 10px;
  font-size: 24px;
}

.user-sidebar-profile {
  display: flex;
  align-items: center;
  background-color: #4b39bf;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  /* flex-wrap: wrap; */
}

.user-sidebar-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-sidebar-info {
  display: flex;
  flex-direction: column;
}

.user-sidebar-name {
  font-size: 16px;
  font-weight: bold;
}

.user-sidebar-loading {
  font-size: 14px;
  color: #ccc;
}


@media (max-width:768px){
  .user-sidebar-menu-button {
    padding: 5px 10px;
  }

  .user-sidebar-close-button {
    padding: 5px 10px;
  }

  .user-sidebar-search-input {
    width: 100px;
  }

  .user-sidebar-profile{
    width: fit-content;
  }

  .user-sidebar-container {
    width: 60%;
  }
}

@media (max-width:480px){
  .user-sidebar-container {
    width: 100%;
  }
}